@font-face {
    font-family: 'Visby CF';
    src: local('Visby CF Extra Bold'), local('Visby-CF-Extra-Bold'),
        url('fonts/VisbyCF-ExtraBold.woff2') format('woff2'),
        url('fonts/VisbyCF-ExtraBold.woff') format('woff'),
        url('fonts/VisbyCF-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype');
}
